import groovy.json.JsonSlurper
def JsonSlurper = new JsonSlurper()
azure_config = JsonSlurper.parse(new File("./credentials.json"))

profiles {
  az_test {

    docker.enabled = true
    dag.overwrite = true

    process {
      executor = 'azurebatch'
      withName: 'TAXPASTA_MERGE' {
        when = false
      }
    }

    azure {
      storage {
        accountName = azure_config["storageAccountName"]
        accountKey = azure_config["storageAccountKey"]
      }
      batch {
        location = 'westeurope'
        accountName = azure_config["batchAccountName"]
        accountKey = azure_config["batchAccountKey"]
        autoPoolMode = true
	allowPoolCreation = true
        deletePoolsOnCompletion = true
	pools {
	     auto {
		autoScale = true
              	vmType = 'Standard_E16s_v3'
	     }
	}	
      }
   } 
  }
  local {
    docker.enabled = true
    dag.overwrite = true
  }
}
